:root {
  color-scheme: only light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease, transform 0.8s ease;
  width: 100vw;
  height: auto;
  transform-origin: center center;
  background-color: white;
}
.submit {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.submit-content {
  margin: 0 auto;
  padding: 5px 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  z-index: 999999;
}
.submit-content img {
  width: 70px;
  height: 70px;
}
.thin-text {
  font: message-box;
  font-size: 20px;
  margin: 0 auto;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.loader-logo{
  position: static;
}

.loader-progress {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#ffa273 0 0);
  background: var(--c),var(--c),#ffa27350 0 0;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}


@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}


/* LANDSCAPE ------------------------------------------ */

@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}
@media (prefers-color-scheme: dark) {
  html,
  body,
  .container {
    background-color: white;
    color: black;
  }
}
